<div class="card col my-2">
    <img src={{data.image}} class="card-img-top" alt="{{data.title}}">
    <div class="card-body">
        <h5 class="card-title">{{data.title|cutString:10}}</h5>
        <p class="card-text">{{data.description|cutString:50}}</p>
        <div class="d-flex justify-content-between align-datas-center">
            <button type="button" class="btn btn-primary"  *ngIf="!addBoolean" (click)="addBoolean = true">Add To Cart</button>
         <div class="d-flex justify-content-between align-datas-center w-50" *ngIf="addBoolean">
            <input type="number" name="" id="" class="form-control" [(ngModel)]="amount">
            <button type="button" class="btn btn-danger" (click)="add()">Add</button>
         </div>
            <p>{{data.price|currency}}</p>
        </div>
    </div>
</div>